# 运算符

## 1) 算术运算符

|  运算符  |  描述  |
|  :----:  |  :----:  |
|  +  |  加  |
|  -  |  减  |
|  *  |  乘  |
|  /  |  除  |
|  %  |  取模  |
|  **  |  幂  |
|  //  |  取整除  |

### 1. + (加) a + b

In [1]:
var1_1 =5+8
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 13 	type: <class 'int'>

### 2. - (減) a - b

In [2]:
var1_1 =90-10
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 80 	type: <class 'int'>

### 3. * (乘) a * b ($a*b$)

In [3]:
var1_1 =4*7
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 28 	type: <class 'int'>

### 4. / (除法) a / b    ($\frac{a}{b}$)

In [4]:
var1_1 =7/2
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 3.5 	type: <class 'float'>

### 5. % (取模) a % b

In [5]:
var1_1 =7%2
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 1 	type: <class 'int'>

### 6. ** (幂)   a ** b   ($a^b$)

In [6]:
var1_1 =3**4
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 81 	type: <class 'int'>

### 7. // (取整除) a // b

In [7]:
var1_1 =7//2
print('var1_1 =',var1_1,'\ttype:',type(var1_1))

var1_1 = 3 	type: <class 'int'>

## 2) 比较运算符

|  运算符  |  描述  |
|  :----:  |  :----:  |
|  ==  |  等于  |
|  !=  |  不等于  |
|  >  |  大于  |
|  <  |  小于  |
|  >=  |  大于等于  |
|  <=  |  小于等于  |

### 1. == (等于) a == b

In [8]:
var1=20
var2=30
var3= var1==var2
print("var1(%d)==var2(%d) => %d "%(var1,var2,var3))
var1=20
var2=20
var3= var1==var2
print("var1(%d)==var2(%d) => %d "%(var1,var2,var3))

var1(20)==var2(30) => 0
var1(20)==var2(20) => 1

### 2. != (不等于) a != b

In [9]:
var1=20
var2=30
var3= var1!=var2
print("var1(%d)!=var2(%d) => %d "%(var1,var2,var3))
var1=20
var2=20
var3= var1!=var2
print("var1(%d)!=var2(%d) => %d "%(var1,var2,var3))

var1(20)!=var2(30) => 1
var1(20)!=var2(20) => 0

### 3. < (大于) a < b

In [10]:
var1=20
var2=30
var3= var1<var2
print("var1(%d)<var2(%d) => %d "%(var1,var2,var3))
var2=20
var3= var1<var2
print("var1(%d)<var2(%d) => %d "%(var1,var2,var3))
var2=10
var3= var1<var2
print("var1(%d)<var2(%d) => %d "%(var1,var2,var3))

var1(20)<var2(30) => 1
var1(20)<var2(20) => 0
var1(20)<var2(10) => 0

### 4. > (小于) a > b

In [11]:
var1=20
var2=30
var3= var1>var2
print("var1(%d)>var2(%d) => %d "%(var1,var2,var3))
var2=20
var3= var1>var2
print("var1(%d)>var2(%d) => %d "%(var1,var2,var3))
var2=10
var3= var1>var2
print("var1(%d)>var2(%d) => %d "%(var1,var2,var3))

var1(20)>var2(30) => 0
var1(20)>var2(20) => 0
var1(20)>var2(10) => 1

### 5. >= (大于等于) a >= b

In [12]:
var1=20
var2=30
var3= var1>=var2
print("var1(%d)>=var2(%d) => %d "%(var1,var2,var3))
var2=20
var3= var1>=var2
print("var1(%d)>=var2(%d) => %d "%(var1,var2,var3))
var2=10
var3= var1>=var2
print("var1(%d)>=var2(%d) => %d "%(var1,var2,var3))

var1(20)>=var2(30) => 0
var1(20)>=var2(20) => 1
var1(20)>=var2(10) => 1

### 6. <= (小于等于) a <= b

In [13]:
var1=20
var2=30
var3= var1<=var2
print("var1(%d)>=var2(%d) => %d "%(var1,var2,var3))
var2=20
var3= var1<=var2
print("var1(%d)>=var2(%d) => %d "%(var1,var2,var3))
var2=10
var3= var1<=var2
print("var1(%d)>=var2(%d) => %d "%(var1,var2,var3))

var1(20)>=var2(30) => 1
var1(20)>=var2(20) => 1
var1(20)>=var2(10) => 0

## 3) 赋值运算符

|  运算符  |  描述  |
|  :----:  |  :----:  |
|  =  |  一般赋值运算符  |
|  +=  |  加法赋值运算符  |
|  -=  |  减法赋值运算符  |
|  *=  |  乘法赋值运算符  |
|  /=  |  除法赋值运算符  |
|  %=  |  取模赋值运算符  |
|  **= |  幂赋值运算符  |
|  //= |  取整除赋值运算符  |

### 1. = (一般赋值运算符)

In [14]:
var1=20
print("var1 = %d"%(var1))
var2=30
print("var2 = %d"%(var2))
var1=var2
print("var1 = var2 => var1 = %d "%(var1))

var1 = 20
var2 = 30
var1 = var2 => var1 = 30

### 2. += (加法赋值运算符)

In [15]:
var1=20
print("var1 = %d"%(var1))
var2=30
print("var2 = %d"%(var2))
var1+=var2
print("var1 += var2 => var1 = %d "%(var1))

var1 = 20
var2 = 30
var1 += var2 => var1 = 50

### 3. -= (减法赋值运算符)

In [16]:
var1=20
print("var1 = %d"%(var1))
var2=30
print("var2 = %d"%(var2))
var1-=var2
print("var1 -= var2 => var1 = %d "%(var1))

var1 = 20
var2 = 30
var1 -= var2 => var1 = -10

### 4. *= (乘法赋值运算符)

In [17]:
var1=20
print("var1 = %d"%(var1))
var2=30
print("var2 = %d"%(var2))
var1*=var2
print("var1 *= var2 => var1 = %d "%(var1))

var1 = 20
var2 = 30
var1 *= var2 => var1 = 600

### 5. /= (除法赋值运算符)

In [18]:
var1=7
print("var1 = %d"%(var1))
var2=3
print("var2 = %d"%(var2))
var1/=var2
print("var1 /= var2 => var1 = %d "%(var1))

var1 = 7
var2 = 3
var1 /= var2 => var1 = 2

### 6. %= (取模赋值运算符)

In [19]:
var1=7
print("var1 = %d"%(var1))
var2=3
print("var2 = %d"%(var2))
var1%=var2
print("var1 %= var2 => var1 =",var1)

var1 = 7
var2 = 3
var1 %= var2 => var1 = 1

### 7. **= (幂赋值运算符)

In [20]:
var1=7
print("var1 = %d"%(var1))
var2=3
print("var2 = %d"%(var2))
var1**=var2
print("var1 **= var2 => var1 = %d "%(var1))

var1 = 7
var2 = 3
var1 **= var2 => var1 = 343

### 8. //= (取整除赋值运算符)

In [21]:
var1=7
print("var1 = %d"%(var1))
var2=3
print("var2 = %d"%(var2))
var1//=var2
print("var1 //= var2 => var1 = %d "%(var1))

var1 = 7
var2 = 3
var1 //= var2 => var1 = 2

## 3) 位运算符

|  运算符  |  描述  |
|  :----:  |  :----:  |
|  &  |  按位与运算符  |
|  I  |  按位或运算符  |
|  ^  |  按位异或运算符  |
|  ~  |  按位取反运算符  |
|  <<  |  左移动运算符  |
|  >> |  右移动运算符  |

In [22]:
var_1 = 30
var_2 = 16
var_3 = 0

### 1. & (按位与运算符)

In [23]:
var_3 = var_1 & var_2
print("var_1(%d) & var_2(%d) => var_3 = %d "%(var_1,var_2,var_3))

var_1(30) & var_2(16) => var_3 = 16

### 2. | (按位或运算符)

In [24]:
var_3 = var_1 | var_2
print("var_1(%d) | var_2(%d) => var_3 = %d "%(var_1,var_2,var_3))

var_1(30) | var_2(16) => var_3 = 30

### 3. ^ (按位异或运算符)

In [25]:
var_3 = var_1 ^ var_2
print("var_1(%d) ^ var_2(%d) => var_3 = %d "%(var_1,var_2,var_3))

var_1(30) ^ var_2(16) => var_3 = 14

### 4. ~ (按位取反运算符)

In [26]:
var_3 = ~var_1
print("var_3 = ~var_1(%d) => var_3 = %d "%(var_1,var_3))

var_3 = ~var_1(30) => var_3 = -31

### 5. << (左移动运算符)

In [27]:
var_3 = var_1 << 2
print("var_3 = var_1(%d) << 2 => var_3 = %d "%(var_1,var_3))

var_3 = var_1(30) << 2 => var_3 = 120